
@model _24dh112968_MyStore_lap1.Models.Customer
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>Thông tin tài khoản </h2>
    <div class="card">
        <div class="card-body">
            <div class="row mb-3">
                <div class="col-md-3">
                    <strong>Họ tên:</strong>
                </div>
                <div class="col-md-9">
                    @Html.DisplayFor(model => model.CustomerName)
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-3">
                    <strong>Số điện thoại:</strong>
                </div>
                <div class="col-md-9">
                    @Html.DisplayFor(model => model.CustomerPhone)
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-3">
                    <strong>Email:</strong>
                </div>
                <div class="col-md-9">
                    @Html.DisplayFor(model => model.CustomerEmail)
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-3">
                    <strong>Địa chỉ:</strong>
                </div>
                <div class="col-md-9">
                    @Html.DisplayFor(model => model.CustomerAddress)
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-3">
                    <strong>Username:</strong>
                </div>
                <div class="col-md-9">
                    @Html.DisplayFor(model => model.Username)
                </div>
            </div>
        </div>
    </div>

    <div class="mt-3">
        @Html.ActionLink("Edit Profile", "Index", "Account", null, new { @class = "btn btn-primary" })
        @Html.ActionLink("Back to Home", "Index", "Home", null, new { @class = "btn btn-secondary" })
    </div>
</div>

