@model _24dh112968_MyStore_lap1.Models.ViewModle.CheckoutVM

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Checkout</h2>
<div class="mb-3">
    @Html.ActionLink("Quay lại giỏ hàng", "Index", "Cart", null, new { @class = "btn btn-warning" })
</div>
<table class="table">
    <tr>
        <th>Hình</th>
        <th>Sản phẩm</th>
        <th>Giá</th>
        <th>SL</th>
        <th>Tổng</th>
    </tr>

    @foreach (var item in Model.CartItems)
    {
        <tr>
            <td><img src="@item.ProductImage" width="80" /></td>
            <td>@item.ProductName</td>
            <td>@item.UnitPrice.ToString("N0") đ</td>
            <td>@item.Quantity</td>
            <td>@item.TotalPrice.ToString("N0") đ</td> <!-- SỬA tại đây -->
        </tr>
    }
</table>

<h3>Tổng tiền: @Model.TotalAmount.ToString("N0") đ</h3>

@using (Html.BeginForm())
{
    <div class="mb-3">
        <label>Địa chỉ giao hàng</label>
        @Html.TextBoxFor(m => m.ShippingAddress, new { @class = "form-control" })
    </div>

    <div class="mb-3">
        <label>Phương thức thanh toán</label>
        @Html.DropDownListFor(m => m.PaymentMethod,
            new SelectList(new[] { "COD", "Banking" }),
            "Chọn", new { @class = "form-control" })
    </div>

    <div class="mb-3">
        <label>Phương thức giao hàng</label>
        @Html.DropDownListFor(m => m.DeliveryMethod,
            new SelectList(new[] { "Nhanh", "Tiết kiệm" }),
            "Chọn", new { @class = "form-control" })
    </div>

    <button class="btn btn-primary" type="submit">Đặt hàng</button>
}
