@* File: PVCreateEditProduct.cshtml - Partial View dùng chung cho Create và Edit *@
@model _24dh112968_MyStore_lap1.Models.Product

<head>
    <style>
        textarea {
            width: 100%;
            height: 150px;
            padding: 12px 5px;
            box-sizing: border-box;
            border: 1px solid #d9d9d9;
            border-radius: 10px;
            background-color: whitesmoke;
            resize: none;
        }
    </style>
</head>

            <div class="form-group">
                <div class="control-label col-md-2">Danh mục</div>
                <div class="col-md-10">
                    @Html.DropDownList("CategoryID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CategoryID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="control-label col-md-2">Tên sản phẩm</div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="control-label col-md-2">Mô tả</div>
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.ProductDescription, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ProductDescription, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="control-label col-md-2">Đơn giá</div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ProductPrice, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ProductPrice, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="control-label col-md-2">Hình ảnh</div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ProductImage)
                    @* Các thuộc tính CSS cho EditorFor có thể được thêm vào nếu cần *@
                    @Html.ValidationMessageFor(model => model.ProductImage, "", new { @class = "text-danger" })
                </div>
            </div>
